<div class="aside">
    <h4>
        <span class="material-icons myapps">
            grid_view
        </span>
        <a href="/games/list?touser=<%= touser %>">Мои приложения: </a>    
    </h4>
    <h4>
        <span class="material-icons">
            apps
        </span>
        <a href="/games/publishlist?touser=<%= touser %>">Опубликованные приложения: </a>
    </h4>
</div>